input[type="checkbox"] {
    content: url('https://i.imgur.com/CJwE9N9.png');
    display: block;
    width: 360px;
    height: 440px;
}
input[type="checkbox"]:checked {
    content: url('https://i.imgur.com/iF6NGzT.png');
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
