input[type="checkbox"] {
    content: url('https://i.imgur.com/6ppQtnY.png');
    display: block;
    width: 720px;
    height: 880px;
}
input[type="checkbox"]:checked {
    content: url('https://i.imgur.com/iF6NGzT.png');
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
      animation: wiggle infinite 3s alternate;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(2deg); }
}
